@font-face {
    font-family: gslightob;
    src: url(font/geo_sans_light/GeosansLight-Oblique.ttf);
}
@font-face {
    font-family: gslight;
    src: url(font/geo_sans_light/GeosansLight.ttf);
}

body{
    background-image: url(Images/homebg.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 100vh; /* make background image a screen tall so it doesn't show white blanks */
    background-attachment: fixed; /* prevents background from changing and moving with the page */
}
p, h1 , h2{
    color: white; 
}

@keyframes fadein{ 
    from{
        opacity:0; /* starts from nothing */
    }
    to{
        opacity:1; /* makes everything in homepage viewable in 2s */
    }
}

/* navbar css*/
#navbar{
    display:flex;
    text-align:center; /* align text to center */
    justify-content:center; 
    padding:10px 10px;
    width:50%;
    margin:25px auto; /* centers everything */
    border-radius:40px; /* makes the border around circular */
    background:rgba(37, 37, 37, 0.596); /* transparent black background */
}
#navlinks{
    display:flex;
    gap:50px;
    list-style:none;
    padding:0; /* removes default padding to center the elements */
}
#navlinks button{
    font-family: gslightob;
    background:none;
    border:none;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:0.3s;
    text-shadow: 0 0 10px rgba(255,255,255,0.4), 0 0 10px rgba(255,255,255,0.2); /* white glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}
#navlinks button:hover{
    color:#ffda62;
    text-shadow:
    0 0 10px rgba(255,255,255,.7), 0 0 10px rgba(212,175,55,.5); /* yellow glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}
@media (max-width: 800px){
     #navbar{ 
        width:90%; 
        margin:20px auto; /* center items*/
    } 
     #navlinks{ 
        justify-content:space-evenly;
        align-items:center;
        gap:0;
        margin:0;
        padding:0;
        width:100%;
    } 
}

/*navbar css end*/

/*homepage css*/
#homepage{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
    animation:fadein 2s;
    text-align:center;
}


#homepage h1{
    font-family: gslight;
    font-size: 130px;
    text-shadow: 0 0 35px rgba(255,255,255,0.4), 0 0 50px rgba(255,255,255,0.2);
    transition:0.5s;
    margin-top: 8%; /* add some space to the top so the content looks centered*/
}
#homepage h1:hover{
    color:#D4AF37;
    text-shadow:
    0 0 35px rgba(255,255,255,.7), 0 0 50px rgba(212,175,55,.5); /* yellow glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}
#homepage p{
    font-family: gslightob;
    font-size: 50px;
}
#homepage span{
    color: #ffda62;
}

#homepage button{
    font-family: gslightob;
    background:none;
    border:none;
    color:white;
    font-size:20px;
    font-weight: 900;
    cursor:pointer;
    transition:0.3s;
}
#homepage button:hover{
    color:#ffffff;
    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5); /* glow to make the text glow when hovered upon*/  /* 10px is the glow radius giving it a blur/glow */
}

@media (max-width: 800px){ 
    #homepage{ 
        min-height:100vh; 
        margin-top: 30%; /* adds space to the top so the content looks centered*/
    }
     #homepage h1{ 
        font-size: 80px
    } 
     #homepage p{ 
        font-size:34px; 
    } 
}
/* eras css */
#eraspage{

    width:80%;
    margin:80px auto;
    animation:expand 1s ; /* takes 1s to scale to 1 and set opacity to 1 */
}

@keyframes expand{ /* all content starts from 0.9 and at 0 opacity then scales to 1 in 1s and makes opacity to 1 */

    from{
        opacity:0;
        transform:scale(0.90); 
    }

    to{
        opacity:1;
        transform:scale(1);
    }

}

#eraspage h3,h4,p,ul,li,summary{
    font-family: gslight;
    color: white;
    text-shadow: 0 0 10px rgba(255,255,255,0.4), 0 0 10px rgba(255,255,255,0.2); /* white glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}

#intro{

    font-size:25px;

}

.fact p{
    text-align: center;
    font-size: 20px;
}

details {
    border: 1px solid white;
    border-radius: 8px;
    padding: 15px 20px; /* 15px top and bottom 20px left and right */
    margin-bottom: 12px; /* space at the bottom */
    transition: background-color 1s;
    transition: transform 0.2s;
    cursor:pointer;
}

details:hover {
    transform: scale(1.02);
    background:rgba(255,255,255,0.08); /* when hovered shows a hint of white */
}

summary {
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    text-align: center;
}

#eraslayout{
    display:flex;         
    gap:50px;                 
    align-items:flex-start;    
    margin-top: 90px;
}

#eraslayout p,li,h4{
    font-size: 25px;

}

#erasbtnsection{
    width:220px;  
    display:flex;
    flex-direction:column;    /* stacks buttons vertically */
    gap:20px; /* space between buttons */
     flex-shrink:0; /* flex-shrink is set to 0 so that the buttons doesnt shrink if the content is bigger on the right */
}

.erabtn, .nextbtn, #tryagain{
    background:rgba(40,40,40,.55);   
    color:white;
    border:none;
    border-radius:15px;  /* round edges */
    padding:18px;   
    font-size:18px;
    font-family:gslight;
    cursor:pointer;
    transition:0.3s;/* trasnsition for hover animation*/
    text-shadow: 0 0 10px rgba(255,255,255,0.4), 0 0 10px rgba(255,255,255,0.2); /* white glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}

.erabtn:hover{
    transform:translateX(8px);
    color:#ffda62;
    border: 2px solid #D4AF37;
    text-shadow:  0 0 5px rgba(255,255,255,.7), 0 0 10px rgba(212,175,55,.5); /* yellow glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}

#eraspage img{
    max-width:100%;              
    border-radius:20px;           /* round image corners */
}

#erascontent{
    width: 80%;
    padding: 30px 50px;
    background:rgba(37, 37, 37, 0.596);
    border-radius:20px;    
}

#ErasH2{
    color:#ffda62;
    text-shadow:
    0 0 5px rgba(255,255,255,.7), 0 0 10px rgba(212,175,55,.5); /* yellow glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
    font-size:60px;
    font-family: gslightob;
}

.qnh3{
    font-size: 50px;
}

#quizcontent{
    width:100%;
    text-align:center;
}

.question{
    display:none; /* hide all questions by default that does not have the active class*/
}

.question.active{
    display:block; /* show the current question */
}

.question label{
    display:block;  /* display answers vertically */
    margin-bottom: 10px; /* space so that it does not look cramp */
    cursor:pointer;
    font-size:22px;
    font-family: gslight;
    color: white;
    text-shadow: 0 0 10px rgba(255,255,255,0.4), 0 0 10px rgba(255,255,255,0.2); /* white glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}

#result{
    display:none; /* hides result until quiz is completed */
    text-align:center;
}

#score, #complete{
    font-family: gslight;
    font-size:40px;
    color:#ffda62;
    text-shadow: 0 0 5px rgba(255,255,255,.7),  0 0 10px rgba(212,175,55,.5); /* yellow glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}

.nextbtn, #tryagain{
    margin-top: 20px;
}

.nextbtn:hover, #tryagain:hover{
    color:#ffda62;
    text-shadow:  0 0 5px rgba(255,255,255,.7), 0 0 10px rgba(212,175,55,.5); /* yellow glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}

@media (max-width:800px){
    #eraslayout{
        flex-direction:column; /* makes the page to be vertical so buttons are above content */
        align-items:center; /* center items*/
    }
    #erasbtnsection{
        width:100%;
        flex-direction:row; /* makes button layout to a row */
        flex-wrap:wrap; /* new line so two rows */
        justify-content:center; 

    }
    .erabtn{
        width: 45%;
    }

    .nextbtn, #tryagain{
        width:100%;  /* makes quiz buttons full width */
    }

    .qnh3{
        font-size: 40px; /* makes quiz question header smaller*/
    }
}

#result{
    position:relative; /* ref for confetti */
}

#confetti{

    background-image:url(Images/Confetti.png);
    width:512px; /* sets sprite sheet width to 512 px */
    height:512px; /* sets sprite sheet height to 512 px to make like crop one frame*/
    position:absolute; /* can appear over the results */
    left:50%; /* make it left of the center */
    top:50%; /* top left of center */
    transform:translate(-50%, -50%); /* moves the sprite left and up by half of its own size */
    pointer-events:none; /* makes it so that the confetti is not clickable and allows the try again button to be clicked */

}

/*composer page*/
#comppage{
    width:60%;
    margin:80px auto;
    animation:expand 1s ; /* takes 1s to scale to 1 and set opacity to 1 */
}

#composercontent{
    display: flex;
    flex-direction:column;
    margin: 40px auto;
    align-items: center;
    justify-content:center; 
    text-align: center;
    padding: 20px 50px;
    background:rgba(37, 37, 37, 0.596);
    border-radius:20px;    
}

#composercontent img{
    border-radius: 50%;
}

#comppage p{
    font-size: 25px;
    max-width: 900px;      /* limits line length */
    margin: 20px auto;     /* centers p */
}

#compbtnsection{
    text-align: center;
}
.compbtn{
    background:rgba(40,40,40,.55);   
    color:white;
    border:none;
    width: 180px;
    font-size: 22px; 
    border-radius:15px;  /* round edges */
    padding:18px;   
    margin: 0 8px;
    font-family:gslight;
    cursor:pointer;
    transition:0.3s;/* trasnsition for hover animation*/
    text-shadow: 0 0 10px rgba(255,255,255,0.4), 0 0 10px rgba(255,255,255,0.2); /* white glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}
.compbtn:hover{
    color:#ffda62;
    text-shadow:  0 0 5px rgba(255,255,255,.7), 0 0 10px rgba(212,175,55,.5); /* yellow glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
}

#comppage h2, #composercontent h3{
    color:#ffda62;
    text-shadow:
    0 0 5px rgba(255,255,255,.7), 0 0 10px rgba(212,175,55,.5); /* yellow glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */
    font-size:60px;
    font-family: gslight;
}

#composercontent ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

@media(max-width:800px){
    #compbtnsection{
        display:flex;
        flex-wrap:wrap; /* starts new row */
        justify-content:center;
        gap:15px;
    }

    #comppage{
        width:95%;
    }
}

/* tracks page */
#trackspage{

    width:80%; /* make elements fill up 80% of the space only */
    margin:80px auto; /* centers elements */
    animation:expand 1s ; /* takes 1s to scale to 1 and set opacity to 1 */
}

#trackspage h2, #trackspage h3{

    font-family:gslight;
    font-size:60px;
    color:#ffda62;
    text-shadow: 0 0 5px rgba(255,255,255,.7),  0 0 10px rgba(212,175,55,.5); /* yellow glow to make the text glow */  /* 10px is the glow radius giving it a blur/glow */

}

#trackspage p{
    font-size:25px;
    font-family:gslight;
    color:white;
    text-shadow:0 0 10px rgba(255,255,255,.4), 0 0 10px rgba(255,255,255,.2);

}

#nowplaying{
    text-align:center;
    margin:40px 0;
}

.trackinfo{
    background:rgba(37, 37, 37, 0.596); /* transparent black background */
    border-radius:20px;
    padding:25px;
    margin-bottom:25px; /* space inbetween the cards */
}

.trackinfo h3{
    font-size:35px;
}

.trackinfo p{
    font-size:22px;
}

#fiveplay, #canonplay, #gplay, .pausemusic{
    background:rgba(40,40,40,.55);
    color:white;
    border:none;
    border-radius:15px;
    padding:15px 25px;
    font-size:18px;
    font-family:gslight;
    cursor:pointer;
    transition:0.3s;
}

#fiveplay:hover, #canonplay:hover, #gplay:hover, .pausemusic:hover{
    color:#ffda62;
    text-shadow:0 0 5px rgba(255,255,255,.7), 0 0 10px rgba(212,175,55,.5);
}

/*rhythm game*/
#rhythmgame{
    display: flex;
    justify-content: center;
}
#game{
    position:relative; /* reference point for the notes and hit zone */
    width:400px;
    height:600px;
    background:rgba(37, 37, 37, 0.596); /* transparent black background */
    overflow:hidden; /* prevents content from overflowing over the box*/
    border-radius: 40px;
}
#RGscore{
    text-align: center;
}
#note{
    position:absolute; /* movable */
    width:50px;
    height:10px;
    background:yellow;
    left:175px;
    top:0;
}
#hitzone{
    position:absolute;
    bottom:80px;
    width:100%;
    height:10px;
    background:red;
}

#rgh {
    text-align: center;
    margin-bottom: 0%;
}
#rgp{
    text-align: center;
}

#judgement{
    text-align: center;
    font-weight:bold;
    opacity:0;
}

#mobilebutton button{
    display: none;
}

@media (max-width:800px){

    #trackspage h2, #trackspage h3{
        font-size:35px;
    }

    #game{
        width:300px;
        height:450px;
    }
    #note{
        width:40px;
        height:10px;
    }

    #rhythmgame{
        display:flex;
        flex-direction:column; /*vertical */
        align-items:center;
    }

    #mobilebutton{
        display:flex;
        justify-content:center;
        gap:30px; /* gap between buttons */
        margin-top:20px;
    }

    #mobilebutton button{
        display: block;
        background:rgba(40,40,40,.55);
        color:white;
        border:none;
        border-radius:15px;
        padding:15px 25px;
        font-size:18px;
        font-family:gslight;
        cursor:pointer;
        transition:0.3s;
    }
}